<div class="deatil-section">

  <div class="container-fluid" style="margin-top: 100px;">
    <img src="{{ product.imageUrl }}" class="detail-img">
    <h3>{{ product.name }}</h3>
    <div class="price">{{ product.unitPrice | currency: 'USD' }}</div>
    <button (click)="addToCart()" class="btn btn-primary btn-sm">Add to cart</button>
    <hr>
    <h4>Description:</h4>
    <h5>{{ product.description }}</h5>
    <a routerLink="/products" class="mt-5"><i class="fa-solid fa-arrow-left"></i>Back to Product List</a>
  </div>
</div>
